################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MBMS_APP/bin
/.vs
/MBMS_APP.DataAccess/bin/Debug
/MBMS_APP.DataAccess/obj/Debug
/MBMS_APP.Framework/bin/Debug
/MBMS_APP.Framework/obj/Debug
