################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MBMS_APP/bin
/.vs
/MBMS_APP.DataAccess/bin
/MBMS_APP.DataAccess/obj
/MBMS_APP.Framework/bin
/MBMS_APP.Framework/obj
/MBMS_APP.Busines/obj
/MBMS_APP.Busines/bin
/packages
MBMS_APP/obj