################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MBMS_APP/bin
/.vs
/MBMS_APP.DataAccess/bin/Debug/
/MBMS_APP.DataAccess/obj/Debug/
/MBMS_APP.Framework/bin/Debug/
/MBMS_APP.Framework/obj/Debug/
/MBMS_APP.Busines/obj/Debug/
/MBMS_APP.Busines/bin/Debug/
/packages
MBMS_APP/obj
MBMS_APP/obj/Debug/
MBMS_APP/bin/Debug/
/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.dll
/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.pdb
/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.pdb
/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.dll
/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.dll
/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.pdb
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.AssemblyReference.cache
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.CoreCompileInputs.cache
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.FileListAbsolute.txt
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.dll
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.pdb
/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.pdb
/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.dll
/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.pdb
/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.dll
/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.pdb
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.AssemblyReference.cache
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.CoreCompileInputs.cache
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.FileListAbsolute.txt
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.dll
/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.pdb
/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.dll
/MBMS_APP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MBMS_APP/obj/Debug/MBMS_APP.csproj.AssemblyReference.cache
/MBMS_APP/obj/Debug/MBMS_APP.csproj.CoreCompileInputs.cache
/MBMS_APP/obj/Debug/MBMS_APP.csproj.FileListAbsolute.txt
/MBMS_APP/obj/Debug/MBMS_APP.dll
/MBMS_APP/obj/Debug/MBMS_APP.pdb
